spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://dbdb.cdoyp1fqetnz.ap-northeast-2.rds.amazonaws.com:3306/bdbd?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: admin
    password: kakaotech-bdbd